* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #feca39;
  background-color: #1a1a1a;
  font-family: "Heebo", sans-serif;
}
.main-layout {
  margin: 0 100px;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.logo {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 57px 141px;
  grid-template-rows: 44px 44px;
  cursor: pointer;
  user-select: none;
}
.digital {
  grid-column-start: 2;
  font-weight: 300;
  text-align: center;
}
h1 {
  grid-column-start: 2;
  text-align: center;
  font-weight: 700;
}
main {
  margin: 0 auto;
  height: 300px;
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-weight: 300;
}
footer {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 40%;
}
.ligth {
  display: flex;
  cursor: pointer;
  padding: 10px;
  word-wrap: break-word;
}
.ligth:hover {
  background-color: #feca39;
  color: #1a1a1a;
}
#switch {
  display: none;
}
