html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #feca39;
  background-color: #1a1a1a;
  font-family: "Heebo", sans-serif;
}
.main-layout {
  margin: 0 10rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.logo {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 5.7rem 16rem;
  grid-template-rows: 4.4rem 4.4rem;
  cursor: pointer;
  user-select: none;
}
.logo-lamp {
  display: block;
}
.logo-lamp img {
  width: 100%;
}
.digital {
  grid-column-start: 2;
  font-weight: 300;
  text-align: center;
  font-size: 1.5rem;
}
h1 {
  grid-column-start: 2;
  text-align: center;
  font-weight: 700;
  font-size: 3.3rem;
}
main {
  margin: 0 auto;
  text-align: center;
}
main h2 {
  font-weight: normal;
  font-size: 6rem;
  margin: auto;
}
footer {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.ligth {
  cursor: pointer;
  height: 8.8rem;
}
.ligth img {
  height: 8.8rem;
}
.contacts a {
  display: block;
  text-decoration: none;
  color: #feca39;
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.contacts ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.contact {
  list-style: none;
  margin: 0 1rem;
}

.contact img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .main-layout {
    margin: 0;
  }
  .ligth {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
}
